$bg: #2d3a4b;
$black: #757575;
$dark_gray: #889aa4;
$light_gray: #eee;
$blue: #409eff;
$light_purple: #dbe7f7;
$purple: #8b80f9;
$orange: #fc7753;
$green: #67c23a;

// color hunt
$them_light_err: #eda1c1;
$them_light_warn: #fab2ac;
$them_light_normal: #d7f8f7;
$them_light_info: #bee4d2;
