@font-face {
  font-family: 'iconfont'; /* project id 761847 */
  src: url('//at.alicdn.com/t/font_761847_62cafklc94d.eot');
  src: url('//at.alicdn.com/t/font_761847_62cafklc94d.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_761847_62cafklc94d.woff') format('woff'),
    url('//at.alicdn.com/t/font_761847_62cafklc94d.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_761847_62cafklc94d.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before { content: '\e67b'; }
.icon-add:before { content: '\e67e'; }
.icon-back:before { content: '\e67c'; }