body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  //font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
  //  Microsoft YaHei, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  color: #606c76;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
